/* map 360° */
@font-face {
    font-family: OpenDys;
    src: url('OpenDyslexic-Regular.otf');
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: serif;
    color: rgba(0, 0, 0, .77);
    font-family: sans-serif;
    cursor: default;
}

iframe,
video {
    filter: url(#greenScreen);
    position: absolute;

}

.main {
    position: absolute;
    height: 400px;
    padding: 10px;
}




.dropdown_button {
    background-color: #0979ad;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid #ffffff;
}

.courses {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.courses li {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: rgb(47, 47, 47);
    font-family: montserrat;
    border: 1px solid white;
}

.courses li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.courses li:hover {
    background-color: #0979ad;
    color: white;
}

html.help {
    cursor: pointer
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: none;
    height: 2px;
}

/*Its ok*/
#tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51, 51, 51, 0.9);
    border: 1px solid rgba(34, 34, 34, 0.9);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
}

#tooltip.is-active {
    opacity: 1;
    transform: translate3d(-50%, calc(-100% - 30px), 0);

}


.container {
    position: absolute;
    width: 50%;
}


/* Make the image responsive */
.container img {
    height: auto;
    padding-left: 2%;

}

.toolbar {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.TopBar {
    width: 100%;
    display: flex;
}

.OpenDys-font {
    font-family: OpenDys !important;
}

#text {
    display: flex;
    justify-content: center;
    animation: apparition 1s linear;
    font-size: 2.5em;
    text-align: justify;
    margin: 10px auto;
    width: 70%;
}

#containerInfo {
    width: 100%;
    height: 60%;
    margin-top: 10%;
    overflow: auto;
    display: flex;
}

.toolbar img {
    width: 4%
}

#roundinsa {
    border-radius: 50%;

}

#logoinsa {
    display: none;
    position: absolute;
    width: 6%;
    padding: 1%;
    animation-duration: 5s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    20% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1);
    }
}

#logo {
    overflow: auto;
    height: 60%;
    position: absolute;
    width: 6%;
    padding: 1%;
    right: 0;
}

#Info,
#vueaip,
#PosterCEBD,
#Infrarouge,
#fluo,
#absorption,
#Cuve,
#Thermique,
#premat,
#protool,
#son,
#video {
    position: absolute;
    background-image: url("../ressources/fondinfo.jpg");
    background-color: #0979ad;
    width: 100%;
    height: 50vw;
    background-size: 100% 100%;
    animation: apparition 1s linear;
    display: none;
}

#information {
    position: fixed;
    background-image: url("../ressources/fondinfo.jpg");
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-size: 100% 100%;
    animation: apparition 1s linear;
}

#information2 {
    position: fixed;
    background-image: url("../ressources/fondinfo.jpg");
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-size: 100% 100%;
    animation: apparition 1s linear;
}



#imginfra {
    width: 70%;
    height: 100%;
    margin-right: 2%;
}

#layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    animation: apparition 1s linear;
}

#video_directeur {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 50% 50%;
    animation: apparition 1s linear;
}

@keyframes apparition {
    0% {
        transform:
            translateZ(1e12px) translate(0px, 91px) translate(-512px, -318px) scale(0.741211, 0.740566) translate(512px, 318px) translate(0px, 0px) rotate(0deg) translate(0px, 0px)
    }
}


.container input {
    width: 10%;
    height: 10%;
}

#minimap {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    animation: apparition 1s linear;
    display: none;
}

.slider {
    position: absolute;

}

#scene {
    overflow: auto;
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    opacity: 0.95;
}

.fleche {
    position: fixed;
    width: 6%;
    align-items: center;
    margin-left: 50%;
}

.mapAndInfos {
    background-color: grey;
}

#arrowUp {
    position: fixed;
    width: 50px;
    right: 0;
    margin-top: 8%;
    display: none;
    animation: apparition 1s linear;
}

#infoimage {
    position: fixed;
    width: 50px;
    right: 0;
    margin-top: 7%;
    display: none;
    animation: apparition 1s linear;
}

.zoom {
    transition: transform .2s;
    width: 50%;
    margin-left: 2%;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

@media only screen and (max-width: 720px) {
    .main {
        margin-top: 50%;
    }

    #Info,
    #vueaip,
    #PosterCEBD,
    #Infrarouge,
    #fluo,
    #absorption,
    #Cuve,
    #Thermique,
    #premat,
    #protool,
    #son,
    #video {
        height: 100%;
    }

    #information {
        top: 0%;
        left: 0%;
        padding-bottom: 10%;
        height: 100%;
        width: 100%;
    }

    #information2 {
        top: 0%;
        left: 0%;
        padding-bottom: 10%;
        height: 100%;
        width: 100%;
    }

    #text {
        display: flex;
    }

    #containerInfo {
        display: block;
        margin-top: 50%;
    }
}


nav {
    margin: 0;
    position: absolute;
    width: 100vw;
    left: 0;
    background: gray;
    box-shadow: 0 3px 5px;
    padding: 0.3vw 0;
}

nav:after {
    content: '';
    position: absolute;
    height: 2vw;
    width: 2vw;
    left: 49vw;
    bottom: -1vw;
    background: gray;
    transform: rotate(45deg);
    transform-orign: center;
    box-shadow: 3px 3px 3px #333
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    background: inherit;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}

nav:hover ul {
    max-height: 5em;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    margin: 0 1vw;
}