*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background: url('ressources/couv.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

@media screen and (max-width: 900px) {
    body {
        background-size: cover;
    }
  }

.img360 img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

#i360 {
    width: 8em;

}

.container-first {
    position: absolute;
    top: 85%;
    left: 41%;
    bottom: 0;

}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    font-family: Abril fatface, sans-serif;
}

h1 span {
    position: relative;
}

.container-btns {
    position: fixed;
}

.btn-first {
    border: 4px solid black;
    outline: none;
    background-color: #333;
    font-size: 30px;
    padding: 20px;
    width: 280px;
    color: black;
    cursor: pointer;

}

.btn-first:nth-child(1) {
    margin-right: 30px;
}

.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: red;
    color: #333;

}

.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: red;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: black;
}